<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports :: head_static('登录')">
    <link rel="stylesheet" href="/assets/css/base.min.css" th:href="@{/assets/css/base.min.css}"/>
    <link rel="stylesheet" href="/assets/css/project.min.css" th:href="@{/assets/css/project.min.css}"/>
</head>
<body class="page-brand">
<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
                <section class="content-inner" th:fragment="login">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-header">
                                <div class="card-inner">
                                    <h1 class="card-heading">用户登录</h1>
                                </div>
                            </div>
                            <div class="card-inner">
                                <form th:fragment="login-form" th:action="@{/login}" method="post">
                                    <input style="display:none" title="hidden"/>
                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="username">账号</label>
                                                <input class="form-control" id="username" type="text"
                                                       name="username" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="password">密码</label>
                                                <input class="form-control" id="password" name="password"
                                                       type="password" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="confirm">确认密码</label>
                                                <input class="form-control" id="confirm" name="confirm"
                                                       type="password" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <span id="submit_login"
                                                      class="btn btn-block btn-brand waves-attach waves-light">
                                                    立即注册
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <a th:href="@{/login}" class="btn btn-flat btn-brand waves-attach">现在登录</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div th:replace="imports :: #captcha-dialog"></div>
</main>
<script>
    $("#submit_login").click(function () {
        $("#captcha-dialog").modal('show');
    });
</script>
</body>
</html>